* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
background-color: #f1ebeb;
}

/* src/components/SearchBar.css */
.searchbar__container {
  position: relative;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
}

.searchbar {
  border: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 0.5em 1em;
  color: #333;
  width: 100%;
  height: 3rem; /* Default height */
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.searchbar::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Clear button */
.clear-button {
  background: none;
  border: none;
  color: #f44336; /* Clear button color */
  cursor: pointer;
  margin-left: 0.5em;
}

/* Hover and focus effects */
.searchbar:hover,
.searchbar:focus {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  outline: none;
}


.title {
  color: #747bff;
}